{% extends 'base.html' %}

{% block content %}

<script src="https://www.gstatic.com/firebasejs/9.6.11/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.11/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.11/firebase-auth-compat.js"></script>

<script>
    const firebaseConfig = {
        // Add your firebase config here
        apiKey: "AIzaSyAk7ohrCjivDJ3qaWGdzkVLzXTWWsyfiZ8",
        authDomain: "blood-analysis-2d541.firebaseapp.com",
        projectId: "blood-analysis-2d541",
        storageBucket: "blood-analysis-2d541.appspot.com",
        messagingSenderId: "623090934175",
        appId: "1:623090934175:web:f916859a548a8278c89daa",
        measurementId: "G-G7EB99ZXKE"

    };

    const firebaseApp = firebase.initializeApp(firebaseConfig);
    const db = firebaseApp.firestore();
    const auth = firebaseApp.auth();

    function addData() {
        db.collection("newsfeed").add({
            text: document.getElementById("postedFeed").value,
            userId: "me",
            time: new Date().getTime()
        })
            .then((docRef) => {
                console.log("Document written with ID: ", docRef.id);
                document.getElementById("postedFeed").value = "";

            })
            .catch((error) => {
                console.error("Error adding document: ", error);
            });
    }

    function fetchData() {

        db.collection("all-report").where("user", "==", "asif").orderBy("time", "desc")
            .onSnapshot((querySnapshot) => {
                var div = document.getElementById("data-list");
                // Delete previous sub div
                var subDiv = document.createElement('div');
                var child = div?.lastElementChild;
                if (child) {
                    while (child) {
                        div.removeChild(child);
                        child = div.lastElementChild;
                    }
                }
                // Delete previous sub div

                // Read data from firestore
                querySnapshot.forEach((doc) => {
                    var subDiv = document.createElement('div');
                    subDiv.className = "card col-md-12 p-4 shadow mb-2"
                    subDiv.innerHTML = `<h4 id="title">${doc.data().date}</h4><span style="display:inline-block; width=100px;">${doc.data().type}</span><span style="display:inline-block; width=100px;">${doc.data().rate}</span>`;
                    // subDiv.textContent = doc.data().rate;
                    div.appendChild(subDiv);
                    console.log(`${doc.id} => ${doc.data().rate}`);
                });
                // Read data from firestore
            });

    }
    fetchData();

</script>

<div class="container">

    <div class="row">
        <div class="text-center col-md-12 p-3 mb-3 mt-3">
            <h1>Activity</h1>
        </div>
    </div>

    <div class="row" id="data-list">
    </div>

</div>
  
{% endblock %}