{% extends 'base.html' %}

{% block content %}

<script>
    function showName(e){
    var firstName= document.getElementById("firstname").value;
    var number = document.getElementById("number").value;
    var types = document.getElementById("types").value;
    document.getElementById("show").innerText = firstName+" "+number +" "+types;   
        
}
</script>
<style>
h1{
  color: green ;
    }
</style>
<h1>Create Doctor:</h1>
  <form style="margin-left: 300px;">
  
    Doctors Name:
    <input type= "text" style="margin-left: 40px;" id="firstname" name="firstname" > <br> <br>
    
    Doctors Number: <input style="margin-left: 30px;" type= "number" id="number" name="number"> <br> <br> 
    Types: <input style="margin-left: 105px;" type= "text" id="types" name="types" > <br> <br>
    <input style="margin-left: 140px;" type = "button" onclick="showName()" class="btn btn-primary" value="Submit" ><br>
    <span id="show"></span><br>
</form>























































{% endblock %}