{% extends 'base.html' %}

{% block content %}
<Style>
    h1 {
        position: absolute;
        left: 600px;
        padding: 10px;
        width: 350px;
        height: 120px;
        border: 3px solid green;

    }

    h3 {
        position: absolute;
        left: 600px;
        padding: 15px;

        width: 350px;
        height: 120px;

    }
    
</Style>
<div class="container">
    <div class="row ">
        <div class="col-mb-4 ">
            <div class="card pl-4" style="width: 18rem;">
                <img class="card-img-top"
                
                    src="https://img.freepik.com/free-photo/portrait-smiling-handsome-male-doctor-man_171337-5055.jpg?size=626&ext=jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dr.Shoikot Maruf</h5>
                    <h4 class="card-text"><br>Cardiologists </h4>
                    <p class="card-text"><br>high blood pressure,high cholesterol,heart attack and stroke,heart rhythm problems,congestive heart  </p>
                    <a href="/home" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>

        <div class="col-mb-4 pl-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
                    src="https://www.italiandoctors.co.uk/images/italiandoctor/slider/adobestock_338827188_preview.jpeg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dr.Asif Islam</h5>
                    <h4 class="card-text">Neurologist</h4>
                    <p class="card-text">Epilepsy, Alzheimer’s disease,Parkinson’s disease,multiple sclerosis,neuropathy,stroke,migraine</p>
                    <a href="/home" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>

        <div class="col-mb-4 pl-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://www.tidalhealth.org/sites/default/files/site_media/2021-01/doctor.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dr.Emon Hassan</h5>
                    <h4 class="card-text"> Health</h4>
                    <p class="card-text"> Answers health questions,conducts health checkups,performs routine health tests, including those for cholesterol or blood sugar levels</p>
                    <a href="/home" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}