{% extends 'base.html' %}

{% block content %}
<style>
    .colour{
        color: green ;
    }
</style>
<h1 class="colour">Introduction</h1>
<h2>I am Asif Islam.I make a project who's name  ECG analysis.This app will show BPM by sensor by using apps and Doctor can see BPM result by using ECG website. </h2>
<h1 class="colour">Motivation</h1>
  <h2>In our society,many people have a resting heart rate and then do not know how to solve this problem.So I want to solve this problem by using an app and ECG website.</h2>

{% endblock %}