{% extends 'base.html' %}

{% block content %}


<h4 class="p-4">Profile</h4>




<div class="container">
  <div class="row">
    <div class="col-md-6">
      <canvas id="myChart"></canvas>
    </div>

    <div class="col-md-6">
      <canvas id="myChart1"></canvas>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <canvas id="resperitionChart"></canvas>
    </div>

    <div class="col-md-6">
      <canvas id="oxygenChart"></canvas>
    </div>

  </div>

</div>









<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
var xValues = ["Heart Rate", "Blood passure", "Oxygen Sutuation", "Resparation Rate", "All Vital Signs"];
var yValues = [55, 49, 44, 24, 15];
var barColors = [
  "#b91d47",
  "#e8c3b",
  "#1e7",
  "#e8c3b9",
  "#1e7145"
];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    
    datasets: [{
      backgroundColor: barColors,
       data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Heart Rate"
    }
  }
});


new Chart("myChart1", {
  type: "bar",
  data: {
    labels: xValues,
    
    datasets: [{
      backgroundColor: barColors,
       data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Blood Pressure"
    }
  }
});

new Chart("resperitionChart", {
  type: "bar",
  data: {
    labels: xValues,
    
    datasets: [{
      backgroundColor: barColors,
       data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Blood Pressure"
    }
  }
});

new Chart("oxygenChart", {
  type: "bar",
  data: {
    labels: xValues,
    
    datasets: [{
      backgroundColor: barColors,
       data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Oxygen Saturation"
    }
  }
});



</script>















{% endblock %}